<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dr. Plantnik</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  <link rel="stylesheet" href="/static/css/stylesdiag.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

</head>

<body>
  <div class="section">
    <div class="row predict">
      <h1 class="h1">PREDICTIONS</h1>
        <div class="col s12 m5 offset-m1 info">
          <div class="names">
              {% if common%}
            Disease Name<br><span style="color:white">{{ common }}</span><br>
            {% endif %}
            Scientific Name<br><span style="color:white">{{ name }}</span><br>
        </div>
          <p class="desc">{{ para }}</p>

        </div>
        <div class="col s12 m5 offset-m1">
          <img class="responsive-img predicted"  src="/static/{{ filename }}">
        </div>
    </div>
    <div class="row graph valign-wrapper">
      <div class="col s12 m2 offset-m1">
        <img src="/static/chart.png" alt="Graph" height="300px" class="resposive-img">
      </div>
      <div class="col s12 m4 offset-m4 bot">
        <button class="links waves-effect waves-light btn-large">Know More</button> 
        <a href="http://127.0.0.1:5000"><button class="home waves-effect waves-light btn-large">Upload another image</button></a> 
    </div>
    </div>
  </div>

  <div class="description atbottom">
    <div class="row">
      <div class="col s12 m8 offset-m4">
       {% for result in list %}
      <p><a class="white-text" href='{{ result }}' target="_blank">{{ result[:30] + "..." }}</a><br></p>
      {% endfor %}
    </div>
  </div>

  </div>



  <!-- Compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/static/js/script.js"></script>

  </script>"
</body>

</html>
