<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <style>
    html {
      background: rgb(41, 41, 41);
      color: white;
      font-size: 15px;
    }

    .container {
      text-align: center;
      color: white;
      background: rgb(41, 41, 41);
    }
    #welcome{
      font-size: 50px
    }
    #name{
      font-size: 80px;
      letter-spacing: -1px;
    }

    img {
      border-radius: .5em;
      width: 50%;
    }
    .form{
      position: relative;
      top:100px;
    }
  </style>

  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="head">
      <h1 id="welcome">Welcome to </h1>
      <h1 id="name">Dr. Plantnik</h1>
    </div>
    <div class="form">
      <form action="" method=post enctype=multipart/form-data> <p>
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file" name="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate white-text " type="text">
          </div>
        </div>

        <input class="waves-effect waves-light btn" type=submit value=Upload>
      </form>
    </div>
    
  </div>
</body>

</html>