<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dr. Plantnik</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  <link rel="stylesheet" href="/static/css/stylesindex.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>


<!-- ABQIAAAAMt9YZQaG_wbfmb2826e_wBTPUDO5TVHJS-HZdrhJpqnB5yZcfRQFObTd1-bPphEIY11228Z78VhA6A -->
<!-- ABQIAAAAMt9YZQaG_wbfmb2826e_wBTPUDO5TVHJS-HZdrhJpqnB5yZcfRQFObTd1-bPphEIY11228Z78VhA6A -->
<body>

  <script
    src="/static/js/google.js">
  
  </script>
  <script>
  
  var lang = "en";
  var currentClass = "currentLang";

  // Load the language lib
  google.load("language", 1);

  // When the DOM is ready....
  $( document ).ready(function() {
    console.log("sdffd");

    // Retrieve the DIV to be translated.
    var translateDiv = $("#asd");
    // Define a function to switch from the currentlanguage to another
    var callback = function (result) {
      if (result.translation) {
        translateDiv.set("html", result.translation);
      }
    };
    // Add a click listener to update the DIV
    $(".getstarted").click(function (e) {
      // Stop the event
      if (e) e.stop();
      // Get the "to" language
      var toLang = "hi";
      // Set the translation into motion
      google.language.translate(translateDiv.get("html"), "en", "hi", callback);
      // Set the new language
      lang = toLang;
      // Add class to current
      
    });
  });</script>
  
  <div class="section valign-wrapper center-align" id="a">
    <!-- <img class="responsive-img" src="assets/leaves.jpeg" alt="leaves"> -->
    <div class="container main">
      <h1 class="h1">Dr. Plantnik</h1>
      <a class="waves-effect waves-light btn-large getstarted">GET STARTED</a>
    </div>
  </div>


  <div class="section" id="b">
    <h2 class="h2" id="asd">Upload a photo of leaf to recognise</h2>
    <div class="form container">
      <form action="" method=post enctype=multipart/form-data> <p>
        <div class="file-field input-field">
          <div class="btn-large btn-file">
            <span>File</span>
            <input type="file" name="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate white-text " type="text">
          </div>
        </div>
        <div class="progress transparent">
          <div class="indeterminate transparent"></div>
        </div>
        <input type="submit" name="button" class="upload waves-effect waves-light btn-large" value=Upload>
      </form>


    </div>

  </div>
  <!-- Compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/static/js/script.js"></script>

  </script>"
</body>

</html>